/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
  font-family: 'weathericons';
  src: url('../fonts/weathericons-regular-webfont.eot');
  src: url('../fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/weathericons-regular-webfont.woff2') format('woff2'), url('../fofontsnt/weathericons-regular-webfont.woff') format('woff'), url('../fonts/weathericons-regular-webfont.ttf') format('truetype'), url('../fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

html {
  width: 400px;
  height: 100%;
  background: #000;
}

body {
  font: 15px Helvetica, sans-serif;
}

#weather {
  width: 400px;
  text-align: left;
}

i {
  color: #FFF;
  font-family: weathericons;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-align: center;
}

i2 {
    color: #fff;
    font-family: weathericons;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    position: center;
}

.wi-yahoo-0:before {
  content: "\f056";
}
.wi-yahoo-1:before {
  content: "\f00e";
}
.wi-yahoo-2:before {
  content: "\f073";
}
.wi-yahoo-3:before {
  content: "\f01e";
}
.wi-yahoo-4:before {
  content: "\f01e";
}
.wi-yahoo-5:before {
  content: "\f017";
}
.wi-yahoo-6:before {
  content: "\f017";
}
.wi-yahoo-7:before {
  content: "\f017";
}
.wi-yahoo-8:before {
  content: "\f015";
}
.wi-yahoo-9:before {
  content: "\f01a";
}
.wi-yahoo-10:before {
  content: "\f015";
}
.wi-yahoo-11:before {
  content: "\f01a";
}
.wi-yahoo-12:before {
  content: "\f01a";
}
.wi-yahoo-13:before {
  content: "\f01b";
}
.wi-yahoo-14:before {
  content: "\f00a";
}
.wi-yahoo-15:before {
  content: "\f064";
}
.wi-yahoo-16:before {
  content: "\f01b";
}
.wi-yahoo-17:before {
  content: "\f015";
}
.wi-yahoo-18:before {
  content: "\f017";
}
.wi-yahoo-19:before {
  content: "\f063";
}
.wi-yahoo-20:before {
  content: "\f014";
}
.wi-yahoo-21:before {
  content: "\f021";
}
.wi-yahoo-22:before {
  content: "\f062";
}
.wi-yahoo-23:before {
  content: "\f050";
}
.wi-yahoo-24:before {
  content: "\f050";
}
.wi-yahoo-25:before {
  content: "\f076";
}
.wi-yahoo-26:before {
  content: "\f013";
}
.wi-yahoo-27:before {
  content: "\f031";
}
.wi-yahoo-28:before {
  content: "\f002";
}
.wi-yahoo-29:before {
  content: "\f031";
}
.wi-yahoo-30:before {
  content: "\f002";
}
.wi-yahoo-31:before {
  content: "\f02e";
}
.wi-yahoo-32:before {
  content: "\f00d";
}
.wi-yahoo-33:before {
  content: "\f083";
}
.wi-yahoo-34:before {
  content: "\f00c";
}
.wi-yahoo-35:before {
  content: "\f017";
}
.wi-yahoo-36:before {
  content: "\f072";
}
.wi-yahoo-37:before {
  content: "\f00e";
}
.wi-yahoo-38:before {
  content: "\f00e";
}
.wi-yahoo-39:before {  content: "\f00e";}
.wi-yahoo-40:before {  content: "\f01a";}
.wi-yahoo-41:before {  content: "\f064";}
.wi-yahoo-42:before {  content: "\f01b";}
.wi-yahoo-43:before {  content: "\f064";}
.wi-yahoo-44:before {  content: "\f00c";}
.wi-yahoo-45:before {  content: "\f00e";}
.wi-yahoo-46:before {  content: "\f01b";}
.wi-yahoo-47:before {  content: "\f00e";}
.wi-yahoo-3200:before {content: "\f077";}
.wi-sunrise:before {  content: "\f051";}
.wi-sunset:before {  content: "\f052";}
.wi-moonrise:before {  content: "\f0c9";}

h2 {
  color: #fff;
  font-family: Roboto-Thin;
  font-size: 95px;
  text-align: left;
  display:block;
  margin:0;
}

ul {
  text-align: left;
}

li {
  color: #fff;
  text-align: left;
  display: inline-block;
  font-family: Roboto-Thin;
  font-size: 16pt;
  width:100%;
}

.hot {
    color: #ff9999;
}

.cold {
    color: #9999FF;
}

.info{
    width:190px;
    display:inline-block;
    text-align: left;
    height:182px;
    vertical-align: top;
}

.week{
    width: 190px;
    display:inline-block;
    text-align: right;
    height:182px;
    vertical-align: top;
}

.forecastDescription{
    display : flex;
    align-items : center;
    font-size:13pt;
    height:120px;
    font-family: Roboto-Light;
}

.city{
    font-size: 17pt;
    opacity: 0.7;
    font-family: Roboto-Light;
}

table {
    display:inline-block;
}

td {
    float: middle-right;
}

.weekTD{
    float: middle-right;
    padding: 0px 0px 4.6px 0px;
    font-family: Roboto-Light;
    font-weight: bold;
}

.sunRiseSet{
    font-size:13pt;
    font-family: Roboto-Light;
    opacity: 0.8;
}
